.container{
    text-align: center;
}

.logNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    flex-direction: column;
}

.logNav ion-button {
    margin: 30px;
    padding: 5px;
    
  }

  //aweraw
  ion-content {
    --background: url('/assets/family.jpg') no-repeat center center fixed;
    background-size: cover;
  }
