body{
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  box-sizing: border-box;
  font-family: 'Montserrat';
  justify-content: space-between;
  
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 150px; /* Set the width to your desired size */
  height: 150px; /* Automatically adjust the height while maintaining the aspect ratio */
  animation: logoAnimation 1s ease-in-out infinite;
}

@keyframes logoAnimation {
  0%, 100% {
    transform: scale(1.1); /* Start with a slightly smaller size */
  }
  50% {
    transform: scale(1.3); /* Reach the normal size */
  }
}

//login

section{
  // min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.left{
  border: solid black 2px;
  width: 50%;
  height: 60vh;
  background: url(/assets/kids.jpg) no-repeat center/cover;
  border-radius: 8px;
  box-shadow: 10px 10px 2px rgb(0, 0, 0);
  animation: slideInLeft 1.5s ease-out; /* Slide animation */
}

// .curved2{
//   background-color: #FFDB57;
//   padding: 25px;
//   position: relative; // Ensure the container has a relative position
// }

// .curved2 svg {
//   position: absolute;
//   top: 0;/* Adjust the position to your liking */
//   left: 0; /* Adjust the position to your liking */
//   transform: scaleX(-1); /* This flips the SVG horizontally */
//   filter: drop-shadow(1px 40px 1px #FFDB57);
//   width: 90%; // Set the width to 100% to fill the container
//   height: auto; // Maintain the aspect ratio
// }

// .logo1-container {
//   display: flex;
//   justify-content: center;
// }

// .logo1 {
//   width: 150px; /* Set the width to your desired size */
//   height: 150px; /* Automatically adjust the height while maintaining the aspect ratio */
// }

// .header{
//   display: flex;
//   justify-content: center;
//   gap: 20px;

//   text-align: center;
// }

// .title{
//   background-color: #F4B400;
//   width: 100px;
//   font-size: 2em;
//   border: 1px solid black;
//   text-align: center;
//   border-radius: 10px;
// }

// .subtitleParents{
//   background-color: #F4B400;
//   width: 130px;
//   font-size: 2em;
//   border: 1px solid black;
//   text-align: center;
//   border-radius: 10px;
// }

// .subtitle, .titlekids{
//   background-color: white;
//   width: 130px;
//   font-size: 2em;
//   border: 1px solid black;
//   border-radius: 10px;
// }

// .log{
//   display: flex;
//   justify-content: center;
//   text-align: center;
// }

// .logTitle{
//   background-color: white;
//   width: 130px;
//   font-size: 2em;
//   border: 1px solid black;
//   border-radius: 10px;
// }

//left parent style

.leftParent{
  border: solid black 2px;
  width: 50%;
  height: 60vh;
  background: url(/assets/parents.png) no-repeat center/cover;
  border-radius: 8px;
  box-shadow: 10px 10px 2px rgb(0, 0, 0);
  animation: slideInLeft 1.5s ease-out; /* Slide animation */
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(0); /* Slide in to the center */
  }
}

.right, .rightParent{
  width: 40%;
  height: 30vh;
  background-color: #FFDB57;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  margin-left: -150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.827);
  opacity: 0; /* initially hidden */
  transition: margin-left 1s ease, opacity 1s ease;
}

.leftParent:hover + .rightParent,
.rightParent:hover {
  opacity: 1; /* reveal on hover */
  margin-left: -150px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.left:hover + .right,
.right:hover {
  opacity: 1; /* reveal on hover */
  margin-left: -150px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.right h1, .rightParent h1{
  font-weight: lighter;
}

.right p, .rightParent p{
  margin: 2px 0;
  font-weight: 500;
}

@media only screen and (max-width: 768px){
  .container{
    flex-direction: column;
    width: 80%;
  }
  .left, .leftParent{
    width: 100%;
    height:60vh;
  }
  .right, .rightParent{
    width: 80%;
    margin: 0;
    margin-top: -150px;
  }
  .left:hover + .right,
  .right:hover {
    margin-left: 0; /* Center the right class on hover */
  }
  .leftParent:hover + .rightParent,
  .rightParent:hover {
    margin-left: 0; /* Center the right class on hover */
  }
  
}



ion-content {
  --background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23D98343' width='11' height='11'/%3E%3Crect fill='%23da8546' x='10' width='11' height='11'/%3E%3Crect fill='%23db8749' y='10' width='11' height='11'/%3E%3Crect fill='%23db884c' x='20' width='11' height='11'/%3E%3Crect fill='%23dc8a4e' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23dd8c51' y='20' width='11' height='11'/%3E%3Crect fill='%23dd8e54' x='30' width='11' height='11'/%3E%3Crect fill='%23de8f57' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23df915a' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23e0935d' y='30' width='11' height='11'/%3E%3Crect fill='%23e0955f' x='40' width='11' height='11'/%3E%3Crect fill='%23e19762' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23e29865' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e29a68' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e39c6b' y='40' width='11' height='11'/%3E%3Crect fill='%23e39e6e' x='50' width='11' height='11'/%3E%3Crect fill='%23e4a070' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e5a173' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e5a376' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e6a579' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e6a77c' y='50' width='11' height='11'/%3E%3Crect fill='%23e7a97f' x='60' width='11' height='11'/%3E%3Crect fill='%23e7aa81' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e8ac84' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e8ae87' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e9b08a' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e9b28d' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e9b390' x='70' width='11' height='11'/%3E%3Crect fill='%23eab592' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23eab795' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ebb998' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23ebbb9b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23ebbc9e' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ecbea1' x='80' width='11' height='11'/%3E%3Crect fill='%23ecc0a4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ecc2a7' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23edc4aa' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23edc5ac' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23edc7af' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23edc9b2' x='90' width='11' height='11'/%3E%3Crect fill='%23eecbb5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23eecdb8' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23eecfbb' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23eed0be' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23eed2c1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23eed4c4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23eed6c7' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23efd8ca' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23efdacd' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23efdbd0' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23efddd3' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23efdfd6' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23efe1d9' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23efe3dc' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23efe5df' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23efe7e2' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eee8e5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23eeeae8' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeeceb' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEEEEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E") center center / cover no-repeat;
}


*{
  font-family: 'Patrick Hand SC', cursive;
}


@media (min-width: 1000px) {

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }
  
  .logo {
    width: 200px; /* Set the width to your desired size */
    height: 200px; /* Automatically adjust the height while maintaining the aspect ratio */
    animation: logoAnimation 1s ease-in-out infinite;
  }

  .footer {
    margin-top: 14%;
    min-height: 5%;
  }
  
  
  @keyframes logoAnimation {
    0%, 100% {
      transform: scale(1.1); /* Start with a slightly smaller size */
    }
    50% {
      transform: scale(1.3); /* Reach the normal size */
    }
    
  }

}

/* Add this style for the footer */
.footer {
  background-color: orange; /* Adjust the background color as needed */
  color: white; /* Adjust the text color for better visibility */
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin-top: 14%;
  min-height: 5%;
}
