<ion-content [fullscreen]="true" class="Body">
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <div style="width: 150px">
          <img
            class="logoTop"
            src="assets/newAssets/Likha.png"
            alt="Your Logo"
          />
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <div
    class="Logo"
    onclick="window.location.href='https://fitquest-junior-website.web.app/';"
  >
    <img class="logo" src="assets/icon/new.png" alt="Your Logo" />
  </div>
  <!-- <div class="family">
    <img class="fam" src="assets/newAssets/family.png" alt="Your Logo" />
  </div> -->

  <div class="parent">
    <div class="box-parents">
      <ion-buttons>
        <ion-button (click)="navigateToParentLogin()">
          Parents Login
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>
