<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row style="text-align: center">
          <ion-col>
              <ion-button routerLink="/home-parent">Dashboard</ion-button>
          </ion-col>
          <ion-col class="title">
            <ion-title >Progress</ion-title>
          </ion-col>
          <ion-col>
              <ion-button>Parent</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <app-custom-navigation class="stick"></app-custom-navigation>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="SuperParent">
          <div class="parentConsult">
            <ion-list *ngIf="usersData.length > 0">
              <div class="childs" *ngFor="let user of usersData">
                <ion-card-header class="card-header">
                  <ion-card-title class="card-title"
                    >Name: {{ user.fullname }}</ion-card-title
                  >
                </ion-card-header>

                <div class="lineGraph">
                  <h1>BMI Progress Graph</h1>
                  <!-- Graph canvas within the card -->
                  <canvas [id]="'lineCanvas_' + user.uid" #lineCanvas></canvas>
             
                </div>
                <div class="pie-graph-container">
                  <div class="pie-graph">
                    <h1 style="text-align: center;">Tasks Percentage</h1>
                    <canvas [id]="'pieCanvas_' + user.uid" #pieCanvas></canvas>
                  </div>

                  <div class="task-details">
                    <table class="task-table">
                      <thead>
                        <tr>
                          <th class="align-left">Description</th>
                          <th class="align-center">Count</th>
                          <th class="align-center">Percent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let task of taskData">
                          <td class="align-left">{{ task.description }}</td>
                          <td class="align-center">{{ task.count }}</td>
                          <td class="align-center">{{ task.percentage }}%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <!-- Display user data -->
    </ion-row>
  </ion-grid>
</ion-content>
