<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-parent"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Set Your Preference</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="preferredDate" label="Preferred Date" type="date"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="full" (click)="findMatchingDoctors()">Find Matching Doctors</ion-button>

  <!-- Display matching doctors here -->
  <ion-list *ngIf="matchingDoctors.length > 0">
    <ion-card *ngFor="let doctorName of matchingDoctors">
      <ion-card-content>
        <h2>{{ doctorName }}</h2>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
