
.component-container{
  
  
}

.rowParent{
  // margin-top: -100vh;
  position: fixed;
  margin: 0 auto;
  // box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  width: 45%;
  height: auto;
  // background: wheat;
  // border-radius: 10px;
  // animation: slideFromTop 0.8s ease forwards;
 
}


// @keyframes slideFromTop {
//   from {
//     transform: translateY(-100vh);
//     opacity: 0;
//   }

//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

.quest{
  margin: 0vh auto;
}



img{
  margin: 0 auto;
}

@media only screen and (max-width: 760px) {
 .rowParent {
    position: sticky;
    width: 100%;
    // height: auto;
    // background: wheat;
    // border-radius: 10px;
  }
  img {
    min-width: 175px;
    height: 155px;
  }
  .quest {
    display: flex;
    justify-content: center;
  }

  .component-container {
    margin-top: 1vh;
  }
}

@media only screen and (min-width: 1400px) {
  .rowParent {
    left: 80px;
  }
}

ion-col{
  display: flex;
  justify-content: center;
  align-items: center;
}