<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Add a back button to navigate to the home page -->
      <ion-back-button defaultHref="/search-games"></ion-back-button>
    </ion-buttons>
    <ion-title>Alphabet Balloon!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="balloonContent">
    <ion-grid>
      <ion-row *ngFor="let row of balloonRows">
        <ion-col *ngFor="let balloon of row" (click)="popBalloon(balloon)">
          <div class="balloon" [ngClass]="{ 'popped': balloon.popped }" [style]="{'--balloon-color': balloon.color}">{{ balloon.letter }}</div>
          <audio #popSound>
            <source src="assets/balloonPop.mp3" type="audio/mpeg">
          </audio>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Win Pop-up -->
<div *ngIf="showWinPopup" class="win-popup">
  <img src="assets/retry.png" (click)="retry()" alt="Retry">
  <img src="assets/quit.png" (click)="quit()" alt="Quit">
</div>
</ion-content>
