<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1> Welcome to the Recycling Game!</h1>
  <h1>In this interactive experience, you'll learn valuable lessons about recycling
    and the importance of proper waste management.</h1>

    <img src="https://assets-v2.lottiefiles.com/a/57ed19da-1152-11ee-bb2b-4764f0ba3dd0/Hz4wYesarG.gif" alt="Welcome Image">
  <p>
    Recycling is not just a task; it's a crucial step towards preserving our environment and creating a sustainable future.
    By participating in this game, you'll gain insights into how simple actions, like sorting your waste, can make a significant
    impact on the planet.
  </p>

  <p>
    Here are some benefits of recycling and proper waste management:
  </p>
  <ul>
    <li>Reduces landfill waste and conserves valuable space.</li>
    <li>Conserves natural resources and reduces the need for raw materials.</li>
    <li>Decreases pollution by minimizing the need for new production processes.</li>
    <li>Helps save energy, as recycling often requires less energy than manufacturing new products.</li>
    <li>Encourages a circular economy, where materials are reused, reducing overall environmental impact.</li>
  </ul>
  <p>
    Thank you for taking part in this educational journey! Let's work together to create a cleaner, healthier, and more sustainable world.
  </p>

</ion-content>
