<ion-header>
  <ion-toolbar>
    <ion-title>Vaccine Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display vaccine details using baby data -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ baby.name }}'s Vaccine Details</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

      <ion-item>
        <ion-label>BCG</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine1"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine1" slot="end"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Hepatitis B</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine2"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine2" slot="end"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>DPT/TdaP/Td</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine3"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine3" slot="end"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>IPV</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine4"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine4" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>HiB</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine5"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine5" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>PCV</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine6"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine6" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Measles/MMR</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine7"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine7" slot="end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Varicella</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine8"></ion-checkbox>
        <ion-input type="date" [(ngModel)]="baby.vaccineDates.vaccine8" slot="end"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="foot-btn">
    <ion-row>
      <ion-col class="save" size="auto">
        <ion-button  color="secondary" (click)="save()">
          Save
        </ion-button>
      </ion-col>
      <ion-col class="reg" size="auto">
        <ion-button color="success" (click)="navigateToSignup()" [disabled]="!isAllVaccinesChecked()">
          Register Now <ion-icon name="lock-open-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
