<ion-header>
  <ion-toolbar>
    <ion-title>Vaccine Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display vaccine details using baby data -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ baby.name }}'s Vaccine Details</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

      <ion-item>
        <ion-label>Vaccine 1</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine1"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Vaccine 2</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine2"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Vaccine 3</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine3"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Vaccine 4</ion-label>
        <ion-checkbox [(ngModel)]="baby.vaccines.vaccine4"></ion-checkbox>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="foot-btn">
    <ion-row>
      <ion-col class="save" size="auto">
        <ion-button  color="secondary" (click)="save()">
          Save
        </ion-button>
      </ion-col>
      <ion-col class="reg" size="auto">
        <ion-button color="success" (click)="navigateToSignup()" [disabled]="!isAllVaccinesChecked()">
          Register Now <ion-icon name="lock-open-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>