.foot-btn {
  display: flex;
  justify-content: center;
}

ion-item {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  align-items: flex-start;

  ion-label {
    margin-bottom: 8px; /* Add margin at the bottom of the label for spacing */
  }

  ion-checkbox {
    margin: auto 50px; 
  }

  ion-input {
    margin-top: 8px; /* Add margin at the top of the input for spacing */
  }
}

ion-card-content {
  margin-right: -160px; /* Adjust margin-right based on your preference */
}