<!-- modal-calendar.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="calendar"></ion-icon>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <img src="assets/ebook/calendar.png" alt="Vaccine Schedule" class="schedule-image">
</ion-content>