<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Parents Profile</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="image-container" *ngIf="isEditMode">
          <div>
            <img [src]="profileImageUrl ? profileImageUrl : 'https://m.media-amazon.com/images/I/41jLBhDISxL.jpg'"
              alt="Profile Picture" #previewImage>
          </div>
          <div>
            <input type="file" accept="image/*" (change)="onFileSelected($event)">
          </div>
      </div>
      <div class="image-container" *ngIf="!isEditMode">
        <img [src]="profileImageUrl ? profileImageUrl : 'https://m.media-amazon.com/images/I/41jLBhDISxL.jpg'"
          alt="Profile Picture">
      </div>
    </ion-col>
  </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-list *ngIf="isEditMode">
            <ion-item>
              <ion-label position="stacked">Full Name:</ion-label>
              <ion-input type="text" [(ngModel)]="currentUser.fullname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Gender:</ion-label>
              <ion-select [(ngModel)]="currentUser.gender">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="!isEditMode">
            <ion-item>
              <ion-label>Email:</ion-label>
              <p>{{ currentUser.email }}</p>
            </ion-item>
            <ion-item>
              <ion-label>Full Name:</ion-label>
              <ion-text>{{ currentUser.fullname }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Gender:</ion-label>
              <ion-text>{{ currentUser.gender }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Role:</ion-label>
              <ion-text>{{ currentUser.role }}</ion-text>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    <ion-row justify-content-center>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" (click)="toggleEditMode()">{{ isEditMode ? 'Cancel' : 'Edit'
          }}</ion-button>
      </ion-col>
      <ion-col size="6" *ngIf="isEditMode">
        <ion-button expand="block" color="primary" (click)="saveChanges()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
