<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="doctor-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out" slot="start" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card1">
    <ion-card-header>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
    </ion-card-header>
  
    <ion-card-content >
      <ion-avatar slot="start">
        <img src="assets/doctor.jpg">
      </ion-avatar>
      <p>Doc</p>
    </ion-card-content>
  </ion-card>


  <div class="datetime">
    <ion-datetime [highlightedDates]="highlightedDates"></ion-datetime>
  </div>

</ion-content>