.datetime {
    text-align: center; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center vertically */
    padding-top: 30px;
  }

.card1{
  display: flex;
  background: linear-gradient(to bottom, rgba(61, 233, 233, 1), rgba(61, 233, 233, 1), white);
  
}


ion-card-header{
  display: flex;
  justify-content: center;
}

img{
  margin-left: 50%;
}

ion-toolbar{
    --background: #ff8200;

}

ion-card-content{
  margin-top: 10px;
}