/* user-details-modal.page.scss */
.details-card {
    max-width: 400px;
    margin: auto;
  }
  
  .details-container {
    margin-top: 16px;
  }
  
  ion-card-header {
    background-color: #3880ff; /* Adjust the color as needed */
    color: #fff;
  }