<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="doctor-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor Consultation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button shape="default" color="warning" size="default" (click)="navigateToSched()" class="edit-button">
    <ion-icon slot='end' name="create-outline"></ion-icon>
    Edit
  </ion-button>

  <ion-card *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
    <ion-card-header>
      <ion-card-title>{{ day }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability?.availability?.[day.toLowerCase()]?.date || 'N/A' }}<br>
      Opening Time: {{ formatTime(doctorAvailability?.availability?.[day.toLowerCase()]?.openingTime) || 'N/A' }}<br>
      Closing Time: {{ formatTime(doctorAvailability?.availability?.[day.toLowerCase()]?.closingTime) || 'N/A' }}
    </ion-card-content>
  </ion-card>
  <!-- Repeat the above structure for Tuesday to Friday -->
</ion-content>