<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor Consultation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="doctorAvailability">
    <ion-card-header>
      <ion-card-title>Monday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability.availability?.monday?.date || 'N/A' }}<br>
      Opening Time: {{ doctorAvailability.availability?.monday?.openingTime || 'N/A' }}<br>
      Closing Time: {{ doctorAvailability.availability?.monday?.closingTime || 'N/A' }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="doctorAvailability">
    <ion-card-header>
      <ion-card-title>Tuesday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability.availability?.tuesday?.date || 'N/A' }}<br>
      Opening Time: {{ doctorAvailability.availability?.tuesday?.openingTime || 'N/A' }}<br>
      Closing Time: {{ doctorAvailability.availability?.tuesday?.closingTime || 'N/A' }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="doctorAvailability">
    <ion-card-header>
      <ion-card-title>Wednesday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability.availability?.wednesday?.date || 'N/A' }}<br>
      Opening Time: {{ doctorAvailability.availability?.wednesday?.openingTime || 'N/A' }}<br>
      Closing Time: {{ doctorAvailability.availability?.wednesday?.closingTime || 'N/A' }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="doctorAvailability">
    <ion-card-header>
      <ion-card-title>Thursday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability.availability?.thursday?.date || 'N/A' }}<br>
      Opening Time: {{ doctorAvailability.availability?.thursday?.openingTime || 'N/A' }}<br>
      Closing Time: {{ doctorAvailability.availability?.thursday?.closingTime || 'N/A' }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="doctorAvailability">
    <ion-card-header>
      <ion-card-title>Friday</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Date: {{ doctorAvailability.availability?.friday?.date || 'N/A' }}<br>
      Opening Time: {{ doctorAvailability.availability?.friday?.openingTime || 'N/A' }}<br>
      Closing Time: {{ doctorAvailability.availability?.friday?.closingTime || 'N/A' }}
    </ion-card-content>
  </ion-card>
  <!-- Repeat the above structure for Tuesday to Friday -->
</ion-content>