<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-parent"></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="Users">
    <ion-card color="warning" *ngIf="usersData.length > 0" >
      <ion-card-header>
        <ion-card-title>Kids</ion-card-title>
      </ion-card-header>

        <ion-card *ngFor="let userData of usersData">
          <ion-card-header>
            <ion-card-title>Full Name: {{ userData.fullname }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Email:</ion-label>
              <ion-text>{{ userData.email }}</ion-text>
            </ion-item>
            <!-- Add more items as needed -->

            <ion-item>
              <ion-label>Age:</ion-label>
              <ion-text>{{ userData.age || 'N/A' }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Height:</ion-label>
              <ion-text>{{ userData.height || 'N/A' }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Weight:</ion-label>
              <ion-text>{{ userData.weight || 'N/A' }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>BMI:</ion-label>
              <ion-text>{{ userData.bmi || 'N/A' }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Status:</ion-label>
              <ion-text>{{ userData.status || 'N/A' }}</ion-text>
            </ion-item>
            
          </ion-card-content>
          <ion-card-footer>
            <!-- Button to navigate to vaccines page -->
            <!-- <ion-button fill="solid" color="primary" slot="end" (click)="showVaccineDetailsModal(userData)">
              Vaccines
            </ion-button> -->
            <!-- Edit button -->
            <ion-button fill="outline" color="warning" slot="end" (click)="editUser(userData)">
              Edit
            </ion-button>
          </ion-card-footer>
        </ion-card>
    </ion-card>


    <ion-card color="warning">
      <ion-card-header>
        <ion-card-title>Babies</ion-card-title>
      </ion-card-header>
    
      <ion-card *ngFor="let baby of babies">
        <ion-card-header>
          <ion-card-title>Name: {{ baby?.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Age:</ion-label>
            <ion-text>{{ baby?.age || 'N/A' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Height:</ion-label>
            <ion-text>{{ baby?.height || 'N/A' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Weight:</ion-label>
            <ion-text>{{ baby?.weight || 'N/A' }}</ion-text>
          </ion-item>
          <!-- Add more details as needed -->
        </ion-card-content>
        <ion-card-footer>
          <!-- Add actions for each baby as needed -->
          <ion-button expand="full" (click)="openVaccineModal(baby)">Vaccine</ion-button>
        </ion-card-footer>
      </ion-card>
    
    </ion-card>
  </div>

  <ion-text *ngIf="usersData.length === 0">No users found.</ion-text>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddUserModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
