*{
    font-family: Arial, Helvetica, sans-serif;
}

ion-toolbar{
    --background: #ff8200;
}

ion-content{
    --background: #FFDB57;
  }

ion-card {
    max-width: 500px; // Set the maximum width to 700px
    margin: 20px auto;   // Center the card horizontally
    
}


ion-row{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
   
}

*{
  font-family: 'Patrick Hand SC', cursive;
}



.save{
    margin-right: 10px;
}

.reg{
    margin-left: 10px;
}


.Users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
  
    ion-card {
      width: 97%;
      margin: 10px;   // Adjust the margin
    }
  }

@media (max-width: 700px) {
    .Users {
      flex-direction: row;
      justify-content: space-around;
    }
  }