

.title {
  text-align: center;
  font-family: "IntegralCF-Bold";
  display: flex;
  align-items: center;

  h1 {
    margin: auto;
  }
}

ion-content {
  --background: url("/assets/ebook/bg.png") center/cover no-repeat;
  height: 100vh;
}

.Users {
  font-family: "IntegralCF-Bold";
  ion-label {
    font-family: "IntegralCF-Bold";
  }
}

ion-card {
  width: 90%;
  margin: 20px auto;
  border: 1px solid;
  box-shadow: 10px 14px 22px -9px rgba(0, 0, 0, 0.71);
}

ion-card-title {
  font-weight: bold;
}

.save {
  margin-right: 10px;
}

.reg {
  margin-left: 10px;
}

.Users {
  background-color: white;
  height: auto;
  border-radius: 20px;
  border: #0080ff 15px solid;
  margin-top: 10vh;
    width: 65vh;
}

@media (min-width: 700px) {
  ion-card {
    width: 80%;
  }
}

.plain-button {
  cursor: pointer; /* Add pointer cursor for interaction */
  display: flex; /* Use flex to align icon and text horizontally */
  align-items: center; /* Align items in the center */
  color: #007bff; /* Set the color as needed */
  margin: 0 auto;
  font-size: 20px;
}


.edit-btn {
  color: black;
  justify-content: center;
  margin: 20px;
  margin: 0 auto;
  background: rgba(
    252,
    128,
    66,
    0.6
  ); /* Adjust the opacity by modifying the last value (0.6) */
  border-radius: 10px;
  border: 2px solid black;
  max-width: 100px;
}

ion-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.parent{
  display: flex;
  justify-content: center;
}

.healthy-weight {
  background-color: green;
  padding: 5px;
    border-radius: 10px;
    color: white;
}

.underweight {
  background-color: lightblue;
  padding: 5px;
    border-radius: 10px;
    color: white;
}

.overweight {
  background-color: yellow;
  padding: 5px;
    border-radius: 10px;
    color: white;
}

.obese {
  background-color: orange;
  padding: 5px;
    border-radius: 10px;
    color: white;
}

