*{
    font-family: Arial, Helvetica, sans-serif;
}

ion-toolbar{
    --background: #ff8200;
}

ion-content{
  --background: #003366;
 }

.Kids{
  --background: #f1f5f8;
}

ion-card {
    max-width: 500px; // Set the maximum width to 700px
    margin: 20px auto;   // Center the card horizontally
    
}


ion-row{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
   
}

*{
  font-family: 'Patrick Hand SC';
}

ion-label{
  font-weight: bold;
}

ion-card-title{
  font-weight: bold;
}

.save{
    margin-right: 10px;
}

.reg{
    margin-left: 10px;
}


.Users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
  
    ion-card {
      width: 97%;
      margin: 10px;   // Adjust the margin
    }
    
  }

@media (max-width: 700px) {
    .Users {
      flex-direction: row;
      justify-content: space-around;
    }
  }


  .plain-button {
    cursor: pointer; /* Add pointer cursor for interaction */
    display: flex; /* Use flex to align icon and text horizontally */
    align-items: center; /* Align items in the center */
    color: #007bff; /* Set the color as needed */
    margin: 0 auto;
    font-size: 20px;
  }
  
  .plain-button ion-icon {
    margin-right: 8px; /* Add spacing between icon and text */
  }


