<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Data Privacy</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" class="ion-padding">
    <h2>Welcome to FitQuest Junior Data Privacy Policy</h2>

    <p>
      At FitQuest Junior, we are committed to protecting the privacy and
      security of your personal information. This policy explains how we
      collect, use, and safeguard your data when you use our services.
    </p>

    <h3>Your Personal Information</h3>

    <p>
      We collect certain personal information from you when you sign up for an
      account or use our services. This may include:
    </p>

    <ul>
      <li>Your full name</li>
      <li>Your email address</li>
      <li>Your gender</li>
      <li>
        Your child's information, including their full name, BMI, weight,
        height, birthday, etc.
      </li>
    </ul>

    <h3>Purpose of Information</h3>

    <p>The information we collect is used for the following purposes:</p>

    <ul>
      <li>
        Creating personalized tasks and recommendations based on your child's
        BMI status.
      </li>
      <li>
        Providing a virtual pet experience to encourage physical activity and
        healthy habits.
      </li>
      <li>
        Offering rewards and incentives for completing tasks and activities.
      </li>
      <li>Enhancing our services and user experience.</li>
    </ul>

    <h3>Your Consent:</h3>

    <p>
      By using FitQuest Junior, you consent to the collection and use of your
      personal information as described in this policy. Additionally, by
      checking the box below, you acknowledge that you have read and understood
      this Data Privacy Policy and agree to its terms. You also consent to the
      use of your personal information, including both parent and child data,
      for the purposes outlined above.
    </p>

    <p>
      By checking the box, I acknowledge that I have read and understood the
      Data Privacy Policy (10173) and hereby give permission to FitQuest Junior
      to use my personal information, including my child's information, in
      accordance with the terms of this Data Privacy Policy.
    </p>

    <p>
      You have the right to review, update, or delete your information at any
      time by accessing your account settings.
    </p>

    <h3>Security Measures:</h3>

    <p>
      We employ industry-standard security measures to safeguard your
      information from unauthorized access, disclosure, alteration, or
      destruction.
    </p>

    <h3>Contact Us:</h3>

    <p>
      If you have any questions or concerns about our Data Privacy Policy or how
      we handle your information, please contact us at
      <a href="https://www.facebook.com/fitquestjunior">Facebook</a>.
    </p>

    <p>Thank you for choosing FitQuest Junior!</p>
  </ion-content>
</ion-content>
