<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>trashGame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img id="wasteImage" src="assets/waste.png" alt="waste" class="dropzone"></ion-img>
  <ion-img id="hazardImage" src="assets/hazard.png" alt="hazard" class="dropzone"></ion-img>
  <ion-img id="recycleImage" src="assets/recycle.png" alt="Recycle" class="dropzone"></ion-img>


  <ion-img id="draggableImage" class="draggable" src="assets/paper.png" alt="crample"></ion-img>
  <ion-img id="draggableBottle" class="draggable" src="assets/bottle.png" alt="bottle"></ion-img>

  <ion-img id="draggableBanana" class="draggable" src="assets/banana.png" alt="Banana"></ion-img>
  <ion-img id="draggableApple" class="draggable" src="assets/apple.png" alt="Apple"></ion-img>

  <ion-img id="draggablePaint" class="draggable" src="assets/paint.png" alt="paint"></ion-img>
  <ion-img id="draggableSpray" class="draggable" src="assets/spray.png" alt="spray"></ion-img>
</ion-content>
