
ion-card {
  max-width: 600px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the card horizontally */
}

.parent-container {
  padding: 16px; /* Add padding to the parent container if needed */
  margin-top: 5vh;
}

ion-button {
  margin-top: 8px; /* Add margin between the button and the parent label */
}
