*{
  font-family: 'Patrick Hand SC';
}
ion-content{
  --background: #003366;
 }

.custom-card {
    max-width: 700px; /* Set a maximum width */
    width: 100%; /* Make sure it takes up 100% of the available width */
    margin: 5vh auto; /* Center the card horizontally */
    overflow: hidden; /* Prevent content from overflowing */
  }
  
  /* Apply styles only when the screen width is 700 pixels or less */
  @media (max-width: 700px) {
    .custom-card {
      max-width: none; /* Remove the maximum width */
      width: 100%; /* Take up the full available width */
    }
  }