<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-parent"></ion-back-button>
    </ion-buttons>
    <ion-title>parents-acitvity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Task Creation Form -->
  <ion-card class="Tasks">
    <ion-card-header>
      <ion-card-title>Task Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Select User</ion-label>
        <ion-select [(ngModel)]="selectedUserId" (ionChange)="onUserSelected(selectedUserId)">
          <ion-select-option *ngFor="let user of usersData" [value]="user.id">{{ user.email }}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Display Selected User's Status -->
      <ion-card *ngIf="selectedUserId">
        <ion-card-header>
          <ion-card-title>User Status</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Status: {{ userStatus || 'N/A' }}</ion-label>
        </ion-card-content>
      </ion-card>
    
      <ion-item *ngIf="userStatus">
        <ion-label position="stacked">Select Exercise</ion-label>
        <ion-select [(ngModel)]="selectedExercise" (ionChange)="onExerciseSelected(selectedExercise)">
          <ion-select-option *ngFor="let exercise of getExercisesForStatus(userStatus)" [value]="exercise">{{ exercise }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Points</ion-label>
        <ion-select [(ngModel)]="points">
          <ion-select-option value="50">50 points</ion-select-option>
          <ion-select-option value="100">100 points</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="createTask()">Create Task</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>
