<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parent-login"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="Logo">
      <img
        class="logo"
        routerLink="/landing"
        src="assets/newAssets/Likha.png"
        alt="Your Logo"
      />
      <img
        class="logo"
        routerLink="/landing"
        src="assets/icon/new.png"
        alt="Your Logo"
      />
      <img class="circle" src="assets/newAssets/circle.png" alt="Your Logo" />
    </div>

    <div class="form">
      <div class="header">
        <h1 class="title">Forgot Password</h1>
        <p class="subTitle">
          Please enter your email address. We'll send you a link to reset your
          password.
        </p>
      </div>

      <form [formGroup]="forgotPasswordForm" novalidate>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="ion-padding">
          <ion-item>
            <ion-input
              formControlName="email"
              placeholder="email"
              class="input"
            ></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <div
            *ngIf="this.forgotPasswordForm.controls?.['email'].touched && this.forgotPasswordForm.controls?.['email'].invalid"
          >
            <ion-text
              *ngIf="errorControl['email'].errors?.['required']"
              color="danger"
            >
              <ion-icon name="warning"></ion-icon>Email is required
            </ion-text>
            <ion-text
              *ngIf="errorControl['email'].errors?.['pattern']"
              color="danger"
            >
              <ion-icon name="warning"></ion-icon>Email should be valid
            </ion-text>
          </div>
        </div>
        <button class="center-button" (click)="sendResetLink()">
          Send Reset Link
        </button>
      </form>
    </div>
  </div>
</ion-content>
