// *{
//   font-family: 'Patrick Hand SC';
// }

// .curved2{
//     background-color: #FFDB57;
//     padding: 25px;
//     position: relative; // Ensure the container has a relative position
// }

// .curved2 svg {
//     position: absolute;
//     top: 0;/* Adjust the position to your liking */
//     left: 0; /* Adjust the position to your liking */
//     transform: scaleX(-1); /* This flips the SVG horizontally */
//     filter: drop-shadow(5px 35px 1px #FFDB57);
//     width: 100%; // Set the width to 100% to fill the container
//     height: auto; // Maintain the aspect ratio
// }

// .logo-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 10vh;
//   }

//   .logo {
//     width: 150px; /* Set the width to your desired size */
//     height: 150px; /* Automatically adjust the height while maintaining the aspect ratio */
//   }

// .input{
//     font-size: 14px;
//     max-width: 100%; // Add this line to limit the width

// }

// ion-item{
//     --background:#f1f1f1;
//     border-radius: 15px;
//     margin: 0 auto; /* Center horizontally */
//     border: 2px solid black;
//     margin-bottom: 16px;
//     width: 80%;
//     max-width: 400px; // Adjust the max-width based on your design
// }

// .header {
//     // margin-top: 30vh; /* Responsive vertical centering */
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     text-align: center;
//   }

//   .header .subTitle {
//     color: gray;
//     font-size: 0.9rem; /* Adjust the font size as needed */
//     margin-top: 0px; /* Adjust the margin to align with the input field */
//     width: 100%;
//   }

//   .header .title {
//     color: black;
//     font-size: 2rem; /* Adjust the font size as needed */
//     margin-top: 0px; /* Adjust the margin to align with the input field */
//     width: 100%;
//   }

// .signupLink {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   margin: 10px; /* Adjust the margin as needed */

//   p {
//     font-size: 0.9rem;
//     margin: 0; /* Remove default margin */
//   }

//   a {
//     text-decoration: none;
//     color: #ffc33f;
//     margin-left: 5px; /* Add some space between the text and the link */
//   }
// }

// .forgotPassword{
//     display: flex;
//     justify-content: center;
//     a{
//         font-weight: 400;
//         font-size: 0.8rem;
//         text-decoration: none;
//         color: #1A535C;
//     }

// }

//   .error-message {
//     color: red;
//     font-size: 14px;
//     text-align: center;
//     margin-top: 16px;
//     opacity: 2;
//     transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
//   }

//   @media (min-width: 900px) {
//     .logo-container {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-top: 10vh;
//       }

//       .logo {
//         width: 250px; /* Set the width to your desired size */
//         height: 250px; /* Automatically adjust the height while maintaining the aspect ratio */
//       }
//   }

//   ion-text{
//     text-align: center;
//     display: flex;
//     justify-content: center;
//   }

//new UI

ion-content {
  --background: url("/assets/newAssets/bg2.png") center/cover no-repeat; /* Set the background image */
  overflow: hidden; /* Hide the scroll */
}

@media only screen and (max-width: 500px) {
  ion-content {
    --background: url("/assets/newAssets/bg3.png") center/cover no-repeat;
  }
}

@media only screen and (min-width: 550px) {
  ion-content {
    --background: url("/assets/newAssets/bg-web4.png") center/cover no-repeat;
  }

  .container {
    margin-top: 2vh;
    max-width: 60%;
    height: auto;
  }

  .logo {
    width: 120px;
    height: 120px;
  }
}

.container {
  margin-top: 2vh;
  width: 80%;
  height: auto;
}

.Logo {
  background: #a1fff9;
  border-top-right-radius: 80px 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo {
    width: 90px;
    height: 90px;
  }

  .circle {
    margin-top: 5vh;
  }
}

.header-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 20%;
}

.parent {
  background-color: #a1fff9;
  display: flex;
  border-radius: 5px;
  position: absolute;
  margin-top: 5vh;
}

.header-icon {
  font-size: 24px;
  margin-right: 10px;
  padding: 5px;
}

.header-text {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}

.form {
  background: #7d695f;
  padding: 10px;
  border-bottom-right-radius: 30px 30px;
}

.title {
  color: #a1fff9;
  font-family: "IntegralCF-Bold";
  margin-top: 2vh;
}

.subTitle {
  color: #fc8042;
}

.icons {
  padding-right: 20px;
  color: #a1fff9;
}

ion-item {
  --background: transparent;
  --border-style: none;
  border: 1px solid #a1fff9;
  border-radius: 10px;
  margin: 5px;
}

ion-input {
  --background: transparent;
  color: #a1fff9;
}

.signupLink {
  color: #fc8042;
}

.center-button {
  background-color: #57aba5;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: black 1px 2px 2px;
  margin-top: -3vh;
}

p {
  text-decoration: none;
}

.line-shape {
  height: 3px;
  width: 100%;
  width: calc(90% - 10px); /* Adjust the width as needed */
  background-color: #a1fff9; /* Blue color */
  margin-top: 10px; /* Adjust the margin as needed */
}

.Footer {
  border: 1px solid red;
  height: auto;
  width: 80%;
  position: absolute;
  bottom: 0;
}

.kids {
  display: flex;
  justify-content: center;
  img {
    width: 160px;
    z-index: 1;
  }
}
