ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropzone {
    position: absolute;
    width: 100px;
    /* adjust as needed */
    height: 100px;
    /* adjust as needed */
    border: 2px dashed black;
}

.top-left {
    top: 60px;
    left: 20px;
}

.top-right {
    top: 60px;
    right: 20px;
}

.bottom-center {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.draggable {
    position: relative;
    display: inline-block;
    width: 100px;
    /* adjust as needed */
    height: 100px;
    /* adjust as needed */
    border: 2px solid black;
}

.center {
    margin: 20px;
}