<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trash Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Recycle Bin -->
  <div
    class="dropzone top-left"
    id="recycleImage"
    (cdkDropListDropped)="drop('paper')"
    #recycleImage
  >
    <img src="assets/recycle.png" alt="Recycle Bin" />
  </div>

  <!-- Waste Bin -->
  <div
    class="dropzone top-right"
    id="wasteImage"
    (cdkDropListDropped)="drop('banana')"
    #wasteImage
  >
    <img src="assets/waste.png" alt="Waste Bin" />
  </div>

  <!-- Hazard Bin -->
  <div
    class="dropzone bottom-center"
    id="hazardImage"
    (cdkDropListDropped)="drop('paint')"
    #hazardImage
  >
    <img src="assets/hazard.png" alt="Hazard Bin" />
  </div>

  <!-- Draggable Elements -->
  <div
    class="draggable center"
    id="draggableImage"
    cdkDrag
    (cdkDragEnded)="dragEnd('paper')"
    #draggableImage
  >
    <img src="assets/paper.png" alt="Paper" />
  </div>

  <div
    class="draggable center"
    id="draggableBanana"
    cdkDrag
    (cdkDragEnded)="dragEnd('banana')"
    #draggableBanana
  >
    <img src="assets/banana.png" alt="Banana" />
  </div>

  <div
    class="draggable center"
    id="draggablePaint"
    cdkDrag
    (cdkDragEnded)="dragEnd('paint')"
    #draggablePaint
  >
    <img src="assets/paint.png" alt="Paint" />
  </div>

  <div
    class="draggable center"
    id="draggableApple"
    cdkDrag
    (cdkDragEnded)="dragEnd('apple')"
    #draggableApple
  >
    <img src="assets/apple.png" alt="Apple" />
  </div>

  <div
    class="draggable center"
    id="draggableBottle"
    cdkDrag
    (cdkDragEnded)="dragEnd('bottle')"
    #draggableBottle
  >
    <img src="assets/bottle.png" alt="Bottle" />
  </div>

  <div
    class="draggable center"
    id="draggableSpray"
    cdkDrag
    (cdkDragEnded)="dragEnd('spray')"
    #draggableSpray
  >
    <img src="assets/spray.png" alt="Spray" />
  </div>
</ion-content>
