ion-content {
  --background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23D98343' width='11' height='11'/%3E%3Crect fill='%23da8546' x='10' width='11' height='11'/%3E%3Crect fill='%23db8749' y='10' width='11' height='11'/%3E%3Crect fill='%23db884c' x='20' width='11' height='11'/%3E%3Crect fill='%23dc8a4e' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23dd8c51' y='20' width='11' height='11'/%3E%3Crect fill='%23dd8e54' x='30' width='11' height='11'/%3E%3Crect fill='%23de8f57' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23df915a' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23e0935d' y='30' width='11' height='11'/%3E%3Crect fill='%23e0955f' x='40' width='11' height='11'/%3E%3Crect fill='%23e19762' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23e29865' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e29a68' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e39c6b' y='40' width='11' height='11'/%3E%3Crect fill='%23e39e6e' x='50' width='11' height='11'/%3E%3Crect fill='%23e4a070' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e5a173' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e5a376' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e6a579' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e6a77c' y='50' width='11' height='11'/%3E%3Crect fill='%23e7a97f' x='60' width='11' height='11'/%3E%3Crect fill='%23e7aa81' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e8ac84' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e8ae87' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e9b08a' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e9b28d' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e9b390' x='70' width='11' height='11'/%3E%3Crect fill='%23eab592' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23eab795' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23ebb998' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23ebbb9b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23ebbc9e' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23ecbea1' x='80' width='11' height='11'/%3E%3Crect fill='%23ecc0a4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ecc2a7' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23edc4aa' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23edc5ac' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23edc7af' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23edc9b2' x='90' width='11' height='11'/%3E%3Crect fill='%23eecbb5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23eecdb8' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23eecfbb' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23eed0be' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23eed2c1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23eed4c4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23eed6c7' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23efd8ca' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23efdacd' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23efdbd0' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23efddd3' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23efdfd6' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23efe1d9' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23efe3dc' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23efe5df' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23efe7e2' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eee8e5' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23eeeae8' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeeceb' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEEEEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E")
    center center / cover no-repeat;
}

* {
  font-family: "Patrick Hand SC";
}

.background {
  --background: url("/assets/Child_room2.jpg") no-repeat center center;
  --background-size: 50% 60%;
  height: 100%;
}

//pet style
.pet-container {
  position: relative;
  cursor: grab; /* Set cursor to grab when hovering over the draggable area */
  animation: floatAnimation 1s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 5vh;
  // border: 2px solid violet;
}

.pet-body {
  width: 220px; /* Adjust the size as needed */
  // border: 2px solid green;
}

.pet-eyes {
  // border: 2px solid red;
  width: 250px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  margin-top: 1vh;
  margin-left: 2vh;
  animation: blinkAnimation 3.5s infinite alternate; /* Blinking animation */
  transition: height 2s ease-in-out; /* Smooth transition for height changes */
}

.pet-mouth {
  // border: 2px solid blue;
  width: 250px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  margin-top: 4vh;
  margin-left: 2vh;
  animation: MouthAnimation 3.5s infinite alternate; /* Blinking animation */
  transition: height 2s ease-in-out; /* Smooth transition for height changes */
}

@keyframes floatAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
//save
.save-button {
  display: flex;
  justify-content: center;
  margin-top: 35px; /* Adjust as needed */
}

ion-button {
  width: 30%; /* Adjust the width as needed */
}

//pet bodies

button {
  width: 100%; // Make the buttons take the full width of the container
  padding: 15px; // Increase the padding for the buttons
  font-size: 16px; // Adjust the font size as needed
  border-radius: 15px; // Add rounded corners to the buttons
  background-color: #4285f4; // Change the button background color
  color: #ffffff; // Change the button text color
  margin-top: 10px; // Add margin between buttons and other elements

  &:first-child {
    margin-bottom: 10px; // Add margin below the first button
  }
}

.pet-price {
  font-family: "Comic Sans MS";
  display: block;
  font-size: 12px; // Adjust the font size as needed
  margin-top: 5px; // Add margin between button text and price text
}

// @media screen and (min-width: 620px) {

//   .save-button{
//     max-width: 40%;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .pet_Bodies img{
//     padding: 30px;
//   }

//   .pet-info button{
//     padding: 15px; // Increase the padding for the button
//       font-size: 16px;
//       border-radius: 15px;
//   }
//   .pet-name{
//     font-size: 20px;
//   }

//   .duzzy {
//     border-radius: 0px 70px 0 70px;

//   }
// }

.pet_Bodies {
  background-color: #003366; // Set pet bodies background color
  padding: 20px; // Add padding for better visibility
  width: 90%;
  margin: 6vh auto;
  border-radius: 15px;

  .closet-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(120px, 1fr)
    ); // Adjust the width of each column as needed
    gap: 20px; // Adjust the gap between items

    .duzzy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #fff; // Set each pet body's background color
      border-radius: 8px; // Add rounded corners for a neat look
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a subtle shadow
    }

    .pet-info {
      margin-top: 10px;
      text-align: center;
      font-family: "Comic Sans MS";
    }

    // Add additional styles as needed
  }
}

.points-container {
  width: 110px;
  margin-top: 3vh;
  margin-left: 3vh;
  right: 20px;
  background-color: #ffcc00; /* Yellow background */
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Comic Sans MS", cursive; /* Example playful font */
  box-shadow: 0 4px 8px rgba(1, 5, 1, 10.5);
}

.points-icon {
  color: #ff6347; /* Tomato icon color */
  font-size: 24px;
}

.points {
  font-size: 2.4rem; // Adjust the font size
  color: #333; // Adjust the text color
}

.btn-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}