<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text1">
    <h2>Hello,</h2>
    <h2></h2>
  </div>  
  <div class="taskCards">
    <ion-card class="card1">
      <ion-card-header>
        <ion-card-subtitle>Daily Task</ion-card-subtitle>
        <ion-card-title>404</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="card2">
      <ion-card-header>
        <ion-card-subtitle>Upcoming Task</ion-card-subtitle>
        <ion-card-title>404</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="card2">
      <ion-card-header>
        <ion-card-subtitle>Finished Task</ion-card-subtitle>
        <ion-card-title>404</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="cardwImg">

    <ion-card class="cardImg1">
      <img alt="daily task" src="assets/Frame 2.png" />
      <ion-card-header>
        <ion-card-subtitle>Daily Task</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="cardImg2">
      <img alt="daily task" src="assets/image 4.png" />
      <ion-card-header>
        <ion-card-subtitle>Upcoming Task</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="cardwImg2">
    <ion-card class="cardImg3">
      <img alt="daily task" src="assets/image 1.png" />
      <ion-card-header>
        <ion-card-subtitle>Finished Task</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="cardImg4">
      <img alt="daily task" src="assets/image 2.png" />
      <ion-card-header>
        <ion-card-subtitle>Shop</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
