<ion-content [fullscreen]="true">
  <div class="curved2">
    <svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 1440 320">
      <path fill="#FF9A4F" fill-opacity="1" d="M0,224L80,208C160,192,320,160,480,122.7C640,85,800,43,960,74.7C1120,107,1280,213,1360,266.7L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </div>

  <div class="logo-container">
    <img class="logo" src="assets/petPal.png" alt="Your Logo">
  </div>

  <div class="header">
    <h1 class="title">Create Account as Doctor</h1>
  </div>

  <form [formGroup]="formReg" novalidate>
    <div class="ion-padding">

      <!-- Fullname -->
      <ion-item>
        <ion-input formControlName="fullname" placeholder="name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.formReg.controls?.['fullname'].touched && this.formReg.controls?.['fullname'].invalid">
        <ion-text *ngIf="errorControl['fullname'].errors?.['required']" color="danger">
          <ion-icon name="warning"></ion-icon>Fullname is required
        </ion-text>
      </div>

        <!-- Contact-->
        <ion-item>
        <ion-input formControlName="contact" placeholder="Contact" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.formReg.controls?.['contact'].touched && this.formReg.controls?.['contact'].invalid">
        <ion-text *ngIf="errorControl['contact'].errors?.['required']" color="danger">
          <ion-icon name="warning"></ion-icon>contact is required
        </ion-text>
      </div>

      <!-- ClinicAddress -->
      <ion-item>
        <ion-input formControlName="ClinicAddress" placeholder="ClinicAddress" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.formReg.controls?.['ClinicAddress'].touched && this.formReg.controls?.['ClinicAddress'].invalid">
        <ion-text *ngIf="errorControl['ClinicAddress'].errors?.['required']" color="danger">
          <ion-icon name="warning"></ion-icon>ClinicAddress is required
        </ion-text>
      </div>

      <!-- Email -->
      <ion-item>
        <ion-input formControlName="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.formReg.controls?.['email'].touched && this.formReg.controls?.['email'].invalid" >
        <ion-text *ngIf="errorControl['email'].errors?.['required']" color="danger">
          <ion-icon name="warning"></ion-icon>Email is required
        </ion-text>
        <ion-text *ngIf="errorControl['email'].errors?.['pattern']" color="danger">
          <ion-icon name="warning"></ion-icon>Email should be valid
        </ion-text>
      </div>

      <!-- Password -->
      <ion-item>
        <ion-input formControlName="password" placeholder="password" type="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.formReg.controls?.['password'].touched && this.formReg.controls?.['password'].invalid" >
        <ion-text *ngIf="errorControl['password'].errors?.['required']" color="danger">
          <ion-icon name="warning"></ion-icon>Password is required
        </ion-text>
        <ion-text *ngIf="errorControl['password'].errors?.['pattern']" color="danger">
          <ion-icon name="warning"></ion-icon>
          Password must atleast have 
          One Character
          One Capital
          One Number
          Contain 8 digit
        </ion-text>
      </div>

      <div class="signinLink">
        <p>Already a Member?<a  style="color:#ffc33f" [routerLink]="['/doctor-login']">Signin Now</a></p>
      </div>
    </div>

  </form>
  <button class="center-button" (click)="signUp()">
    Sign Up
 </button>
</ion-content>
