
  
ion-content {
    padding: 16px;
  }
  
  .details-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .user-details {
    margin-top: 16px; /* Add some spacing between user details */
  }
  
  .user-details div {
    margin-bottom: 8px; /* Add spacing between individual user details */
  }