h1{
  text-align: center;
}

.header{
  margin-top: 200px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  title{
      font-size: 2rem;
  }
}

