<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon> Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <!-- Add the audio element with controls -->
  <audio id="backgroundMusic" autoplay loop controls style="display:none">
    <source src="/assets/Happy Short 1.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>

   <!-- Toggle button for audio control -->
   <div class="audio">
    <ion-button class="music" (click)="toggleAudio()">
      <ion-icon name="volume-mute" *ngIf="!isAudioPlaying"></ion-icon>
      <ion-icon name="volume-high" *ngIf="isAudioPlaying"></ion-icon>
    </ion-button>
  </div>
    
  <ion-fab slot="fixed" vertical="top" horizontal="start">
      <ion-fab-button>
        <ion-icon name="chevron-forward-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button routerLink="/market">
          <img alt="daily task" src="assets/Market.png" />
        </ion-fab-button>
        <ion-fab-button routerLink="/activities">
          <img alt="daily task" src="assets/activities.png" />
        </ion-fab-button>
        <ion-fab-button routerLink="/trash-game">
          <ion-icon name="game-controller-sharp"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div class="points-container">
      <ion-icon name="star" class="points-icon"></ion-icon>
      <span class="points">{{ totalPoints }}</span>
    </div>

   <!-- Clickable images -->
  <!-- <div class="Pages"> 
    <ion-card class="cardImg1">
      <ion-button fill="clear" routerLink="/market">
        <img alt="daily task" src="assets/Market.png" />
      </ion-button>
    </ion-card>

    <ion-card class="cardImg2">
      <ion-button fill="clear" routerLink="/activities">
        <img alt="daily task" src="assets/activities.png" />
      </ion-button>
  </ion-card>
  </div> -->


  <div class="pet-container">
    <img [src]="petEyesUrl" alt="Pet Eyes" class="pet-eyes blinking" />
    <img [src]="petMouthUrl" alt="Pet Mouth" class="pet-mouth talking" />
    <img [src]="petBodyUrl" alt="Pet Body" class="pet-body" />

  </div>
  
  <!-- Disable swipe gesture for the home page -->
  <ion-router-outlet id="main-content" swipeGesture="false"></ion-router-outlet>


</ion-content>
  