// h1{
//   text-align: center;
// }

// .header{
//   margin-top: 200px;
//   margin-bottom: 80px;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   title{
//       font-size: 2rem;
//   }
// }

ion-toolbar{
  --background: #ff8200;

}

ion-router-outlet {
  z-index: 1; /* Ensure that this value is not higher than the z-index of clickable images */
}

.background {
  --background: url('/assets/house.png') no-repeat center center fixed;
  --background-size: cover;
  position: relative;
}

.points-container {
  position: absolute;
  margin-top: 7vh;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(52, 181, 213);
}

.points-icon {
  font-size: 2.4rem; // Adjust the icon size
  color: #f5ce0b; // Adjust the icon color
  margin-right: 5px; // Adjust the space between icon and points
}

.points {
  font-size: 2.4rem; // Adjust the font size
  color: #f5ce0b; // Adjust the text color
}

ion-fab{
  margin-top: 15vh;
  margin-left: 3vh
}

.audio{
  margin-left: 2vh;
}

@media screen and (min-width: 620px) {
  ion-fab{
    margin-top: 10vh;
    margin-left: 30vh
  }

  ion-button {
    background-color: transparent; /* Set the background color of ion-button to transparent */
    border: none; /* Remove the border if present */
    padding: 0px;
    margin: 0px;
    top: 0;
  }

  .audio .music ion-icon {
    font-size: 3em; /* Adjust the size as needed */
  }

  ion-fab-button ion-icon {
    font-size: 4em; /* Adjust the size as needed */
  }

  ion-fab-list ion-fab-button{
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
  
}

.Pages {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 120px;
  position: absolute;
  z-index: 3;
}

ion-button {
  background-color: transparent; /* Set the background color of ion-button to transparent */
  border: none; /* Remove the border if present */
  padding: 0px;
  margin: 0px;
 
}

ion-card {
  background-color: transparent; /* Set the background color to transparent */
  border: none; /* Remove the border if present */
}

.cardImg1, .cardImg2 {
  width: 30%; /* Adjust the width as needed */
  margin-bottom: -30px;
  z-index: 2;
}

.music{
  margin: 8% 5%;
  position: absolute;
  z-index: 3;
}


//pet style
.pet-container {
  position: relative;
  cursor: grab; /* Set cursor to grab when hovering over the draggable area */
  animation: floatAnimation 1s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 35vh;
  // border: 2px solid violet;
}



.pet-body {
  width: 320px; /* Adjust the size as needed */
  // border: 2px solid green;
}

.pet-eyes {
  // border: 2px solid red;
  width: 300px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  margin-top: 1vh;
  margin-left: 2vh;
  animation: blinkAnimation 3.5s infinite alternate; /* Blinking animation */
  transition: height 2s ease-in-out; /* Smooth transition for height changes */
  
}

.pet-mouth {
  // border: 2px solid blue;
  width: 300px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  margin-top: 4vh;
  margin-left: 2vh;
  animation: MouthAnimation 3.5s infinite alternate; /* Blinking animation */
  transition: height 2s ease-in-out; /* Smooth transition for height changes */
}


@keyframes floatAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes blinkAnimation {
  60% {
    height: auto;
    content: url('/assets/mata/One.png');
  }

  65% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Two.png');
    // background-image: url('{{ petEyesUrl }}/Two.png');
  }

  70% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Three.png');
  }

  75% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Four.png');
  }

  80% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Five.png');
  }

  85% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Six.png'); 
   
  }
  95% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Seven.png'); 
   
  }
  100% {
    width: 300px;
    height: auto; 
    content: url('/assets/mata/Eight.png'); 
   
  }
  
}

@keyframes MouthAnimation {
  60% {
    height: auto;
    content: url('/assets/Mouth/M3.png'); /* Open eyes image */
  }

  65% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M2.png');
  }

  70% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M3.png');
  }

  75% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M4.png');
  }

  80% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M5.png');
  }

  85% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M6.png'); /* Closed eyes image */
   
  }
  95% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M7.png'); /* Closed eyes image */
   
  }
  100% {
    width: 300px;
    height: auto; 
    content: url('/assets/Mouth/M8.png'); 
   
  }
  
}