<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="log-out" size="large"></ion-icon>
      </ion-button>
      <ion-title>Parents Dashboard</ion-title>
    </ion-buttons>
    <!-- <ion-title>{{ parentFullName }}'s Home</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label class="greeting">Greetings {{ parentFullName }}!!!</ion-label>
  
  <div class="wholeBody">
      <div class="cardwImg1">
      
          <ion-card class="cardImg1">
            <img alt="daily task" src="assets/Frame 2.png" />
            <ion-card-header>
              <ion-button routerLink="/kids-progress">
              <ion-card-subtitle>Kids Tasks Pending</ion-card-subtitle>
              </ion-button>
            </ion-card-header>
          </ion-card>
    

        <ion-card class="cardImg2">
          <img alt="daily task" src="assets/image 4.png" />
          <ion-card-header>
            <ion-button routerLink="/consultation">
            <ion-card-subtitle>Kids Progress</ion-card-subtitle>
          </ion-button>
          </ion-card-header>
        </ion-card>
      </div>

      <div class="cardwImg2">
        <ion-card class="cardImg3">
          <img alt="daily task" src="assets/image 1.png" />
          <ion-card-header>
            <ion-button routerLink="/vaccination">
            <ion-card-subtitle>Vaccination List</ion-card-subtitle>
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-card class="cardImg4">
          <img alt="daily task" src="assets/image 2.png" />
          <ion-card-header>
            <ion-button routerLink="/parents-acitvity">
            <ion-card-subtitle>Acitivity</ion-card-subtitle>
          </ion-button>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <br>

    <!-- <div *ngIf="appointments.length > 0">
      <ion-card *ngFor="let appointment of appointments">
        <ion-card-header>
          <ion-card-title>Date: {{ appointment.date }}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-label>Time: {{ appointment.time }}</ion-label>
                <ion-label>Doctor: {{ appointment.doctorFullName }}</ion-label>
                <ion-label>Parent: {{ appointment.parentFullName }}</ion-label>
                <ion-label>Status: {{ appointment.status }}</ion-label>
              </ion-label>
              <ion-button color="danger" (click)="deleteAppointment(appointment)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div> -->
   
    <ion-card>
      <ion-card-header>
        <ion-card-title>Kids</ion-card-title>
      </ion-card-header>

        <ion-card *ngFor="let userData of usersData" class="user-card">
          <ion-card-header>
            <ion-card-title>Name: {{ userData.fullname }}</ion-card-title>
            <ion-card-subtitle>{{ userData.email }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Email: {{ userData.email }}</ion-label>
              </ion-item>

              <!-- <ion-item>
                <ion-label>Age: {{ userData.age || 'N/A' }}</ion-label>
              </ion-item>
       -->
              <!-- <ion-item>
                <ion-label>Height: {{ userData.height || 'N/A' }}</ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>Weight: {{ userData.weight || 'N/A' }}</ion-label>
              </ion-item>
        
              <ion-item lines="none">
                <ion-label>BMI: {{ userData.bmi || 'N/A' }}</ion-label>
              </ion-item> -->
<!--         
              <ion-item lines="none">
                <ion-label>Status: {{ userData.status || 'N/A' }}</ion-label>
              </ion-item> -->
            </ion-list>

            <ion-button expand="full" (click)="openTaskDoneModal(userData)">
              Task's Done
            </ion-button>
          </ion-card-content>
        </ion-card>
    </ion-card>
   

</ion-content>

