<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Parents Dashboard</ion-title>
    <ion-buttons slot="end" class="bordered" fill="solid" color="light">
      <ion-button (click)="logout()">
        <ion-icon color="custom" name="log-out" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-item class="avatar" lines="start">
      <ion-avatar>
        <img src="https://www.shareicon.net/data/512x512/2017/02/15/878685_user_512x512.png">
      </ion-avatar>
      <ion-label>
        <h3>Hello {{ parentFullName }}</h3>
      </ion-label>
    </ion-item> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <app-custom-navigation class="stick"></app-custom-navigation>
      </ion-col>
      <ion-col class="second" size="12" size-md="6">
        <ion-col class="outputs" size="12" size-md="6">
          <div class="board">
            <img alt="daily task" src="assets/ebook/board.png" />
          </div>
          <div class="parent-container">
            <div class="container">
              <h1>List of Kids</h1>
              <ul class="kids-list">
                <li
                  *ngFor="let userData of usersData; let i = index"
                  class="kid-item"
                >
                  <div class="kid-details">
                    <span>Kid {{ i + 1 }}. {{ userData.fullname }}</span>
                    <!-- <span>Email: {{ userData.email }}</span> -->
                  </div>
                  <button
                    style="color: black"
                    ion-button
                    (click)="openTaskDoneModal(userData)"
                  >
                    Tasks Done
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
