//NEW UI
ion-title {
  text-align: center;
  font-family: "IntegralCF-Bold";
  border-radius: 10px;
  background: white;
  color: black;
}

.iconAva{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  color: black;
}

ion-avatar{
  border: 1px solid black;
}

.title{
  margin: 3vh auto;
  width: 80%;
  padding: 10px;
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.75);
  animation: slideFromTop 0.8s ease forwards;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

ion-content {
  --background: url("/assets/ebook/bg.png") center/cover no-repeat;
  height: 100vh;
}

.questPending {
  display: flex;
  justify-content: center;
}

.outputs {
  display: flex;
  justify-content: center;
}

.second {
  display: flex;
  justify-content: center;
}

.parent-container {
  // background: url('/assets/ebook/board.png') center/cover no-repeat;
  // height: 50vh;
  font-family: "IntegralCF-Bold";
  position: absolute;
  margin-top: 10vh;
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .board {
    img {
      width: 100vh;
    }
  }
  .title {
    width: 50%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .board {
    img {
      width: 70vh;
    }
  }
}

.board {
  img {
    max-width: 80vh;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.kids-list {
  list-style-type: none;
  padding: 0;
}

.kid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.kid-details {
  flex-grow: 1;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.quest {
  max-width: 80%;
}
